<%#= Over all page %>
<div class="background">

	<%#= Page Logo%>
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div>
	</div>

	<%#= First row beneath Logo%>
	<div class="row">
		<div class= "large-4 columns">
			<%= form_for :user do |f| %>
			<p class="row">
				<%= :email %>
			</p>

			<p>
				<%= f.label :Password %>
				<%= f.text_field :fish %>
			</p>

			<p>
				<%= f.submit %>
			</p>
			<% end %>
		</div>

		<div class= "large-8 columns">			

			<%= form_for @profile do |f| %>

		
			<%= f.label :birthdate %>
			<%= f.date_field :birthdate %>
		

		
			<%= f.label :zip %>
			<%= f.text_field :city %>			
		</div>
	</div>
		<div class="row">
			<div class="large-12">	
				<p>
					<%= f.label :bio %>
					<%= f.text_area :bio %>
				</p>
				<p>
					<%= f.submit %>
				</p>
				<% end %>
			</div>
		</div>	
</div> 

