<%= form_for @event, html: { autocomplete: :off } do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">

      <%= f.label :venue %>
      <%=f.select :venue, options_for_select(%w[Home Indoor Outdoor Multiple]) %>
      <!-- <label for "customDropdown1">Venue</label>
      <select id="customDropdown" class ="medium">
        <option>Home</option>
        <option>Indoor Venue</option>
        <option>Outdoor Venue</option>
        <option>Multiple Locations</option>
      </select>-->
      
      <%#= f.text_field :venue %> 
    </div>
    <div class="large-6 columns">
      <%= f.label :event_type %>
      <%= f.text_field :event_type %>
    </div>
  </div>
  <div>
    <%= f.submit :class => "small button" %>
  </div>
<% end %>