<%= form_for @event, html: { autocomplete: :off } do |f| %>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <p class="large-6 columns">

      <%= f.label :venue %>
      <%= f.select :venue, options_for_select(%w[Home Indoor Outdoor Multiple], @event.venue) %> 
    </p>
    <p class="large-6 columns">
      <%= f.label :event_type %>
      <%= f.select :event_type, options_for_select(%w[Adult's_Birthday Baby_Shower Bachelor/Bachelorette Child's_Birtday Graduation Holiday Housewarming Wedding Wedding_Shower Other], @event.event_type) %>
    </p>
  </div>
  <div class="row">
    <ul>
      <%= f.label :supplies %>
      <% @event.supplies.each do |item|%>
        <li> 
          <%= f. select :item.amount %> 
          <%= f.select :item.supply %>
        </li>
      <% end %>
    </ul>
    <ul>
      <%= f.label :Projects %>
      <% @event.chores.each do |item|%>
        <li> <%= item.chore %> </li>
      <% end %>
    </ul>
  </div>
  <p class="row">
    <%= f.submit :class => "small button" %>
  </p>
<% end %>