<div class="background">

	<%#= Page Logo%>
	<div class= "row">
		<div class="large-12 columns">
			<h1 class="pagehead logo">ParDIY</h1>
		</div>
	</div>
	<div class="row title">
		<%= @event.title %>
	</div>
	<div class="row info1">
		<div class="large-6 columns">
			Event Location: <%= @event.venue %>
		</div>
		<div class="large-6 columns">
			Event Type: <%= @event.event_type %>
		</div>
	</div>
	<div class="row info">
		<div class="large-12 columns">
			<div class="large-6 columns offset-large-1">
				Supplies:
				<ul>
					<% @event.supplies.each do |item|%>
						<li> 
							<%= item.amount %> 
							<%= item.supply %>
						</li>
					<% end %>
				</ul>
			</div>
			<div class="large-6 columns">
			Project To Dos:
				<ul>
					<% @event.chores.each do |item|%>
						<li> <%= item.chore %> </li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<% @recipes.each do |recipe|%>
			<li> <%= recipe.title%> ":" <%= recipe.href%> </li>
			<% end %>
		</div>
	</div>
	<div>
		<a class="button" href="/events">Back to Event List</a>
	</div>
</div>